<p id="notice"><%= notice %></p>

<h1 class="title">All Links</h1>

<table id="user-links-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>URL</th>
      <th>Shortlink</th>
      <th>Favorites</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr class="clickable-row" data-href="<%= link_url(link) %>">
        <td><%= link.get_title %></td>
        <td><%= link.get_description %></td>
        <td><%= link_to(link.get_url, link.get_url, target: "_blank") %></td>
        <td><%= link_to(link.get_shorturl(root_url), link.get_shorturl(root_url), target: "_blank") %></td>
        <td><%= link.get_favorite_count %></td>
        <td><%= link.get_user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
