<p id="notice"><%= notice %></p>

<h1 class="title">Viewing Link "<%= @link.get_title %>"
  <% if current_user.has_favorited(@link.id)%>
    (Favorited)
  <% end %>
</h1>

<p>
  <strong>Destination:</strong>
  <%= link_to(@link.get_url, @link.get_url, target: "_blank") %>
</p>

<p>
  <strong>Shortly URL:</strong>
  <%= link_to(@link.get_shorturl(root_url), @link.get_shorturl(root_url), target: "_blank") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @link.description %>
</p>

<p>
  <strong>Users Who Have Favorited This Link (<%= @link.get_favorite_count %>):</strong>
  <%= @link.get_favorited_users %>
</p>

<% if not @link.belongs_to_user(current_user.id) %>
  <p>
    This link was created by <%= @link.get_user %>.
  </p>

  <% if current_user.has_favorited(@link.id) %>
    <button type="button" onclick="unfavorite(<%= @link.id %>, <%= current_user.id %>)">Remove This Link From Your Favorites</button>
  <% else %>
    <button type="button" onclick="favorite(<%= @link.id %>, <%= current_user.id %>)">Favorite This Link!</button>
  <% end %>
<% else %>
  <p>
    <%= link_to 'Edit this link', edit_link_path(@link) %>
  </p>
<% end %>
